## Работа с рекоммендательными системами

In [ ]:
import sys
import pandas as pd
import numpy as np

In [ ]:
sys.path.append("C:\projects\Python\ML_TOOLS")

In [ ]:
from models_ML_not_checked import RecommendSystem

In [ ]:
df = pd.read_csv("C:\projects\ML\DataBases\movies_metadata.csv")
df.head(3)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4292\2261811728.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\projects\ML\DataBases\movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [ ]:
df.original_title.nunique()

43373

In [ ]:
from collections import Counter

In [ ]:
d = df[df.original_title == 'Alice in Wonderland']

In [ ]:
d

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1003,False,NaN,3000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,12092,tt0043274,en,Alice in Wonderland,"On a golden afternoon, young Alice follows a W...",...,1951-07-03,5.720000e+08,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A world of wonders in One Great Picture,Alice in Wonderland,False,7.0,1557.0
9665,False,NaN,21000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...",NaN,30923,tt0164993,en,Alice in Wonderland,Alice follows a white rabbit down a rabbit-hol...,...,1999-02-28,0.000000e+00,150.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Masterpiece of Imagination...,Alice in Wonderland,False,6.1,71.0
11887,False,NaN,14000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,34573,tt0088693,en,Alice in Wonderland,Classic tale of a girl named Alice who follows...,...,1985-12-09,0.000000e+00,187.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice in Wonderland,False,6.3,15.0
14892,False,"{'id': 261307, 'name': 'Alice in Wonderland Co...",200000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://disney.go.com/wonderland/,12155,tt1014759,en,Alice in Wonderland,"Alice, an unpretentious and individual 19-year...",...,2010-03-03,1.025491e+09,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You're invited to a very important date.,Alice in Wonderland,False,6.4,4773.0
15868,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,25694,tt0023753,en,Alice in Wonderland,"On a boring winter afternoon, Alice dreams, th...",...,1933-12-22,0.000000e+00,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Entertainment Miracle Of All Times!,Alice in Wonderland,False,5.4,8.0
26894,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,35109,tt0060089,en,Alice in Wonderland,Alice in Wonderland (1966) is a BBC television...,...,1966-12-26,0.000000e+00,72.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice in Wonderland,False,6.9,8.0
32901,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,87300,tt0004873,en,Alice in Wonderland,A German adaptation of the classic Lewis Carro...,...,1915-01-15,0.000000e+00,52.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice in Wonderland,False,5.5,2.0
39530,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,41278,tt0000420,en,Alice in Wonderland,This is the first movie version of the famous ...,...,1903-10-17,0.000000e+00,9.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Alice in Wonderland,False,6.1,20.0

In [ ]:
l = Counter(df.original_title)
l

Counter({'Alice in Wonderland': 8,
         'Hamlet': 8,
         'The Three Musketeers': 7,
         'Cinderella': 7,
         'A Christmas Carol': 7,
         'Les Misérables': 7,
         'Macbeth': 7,
         'Frankenstein': 6,
         'Jane Eyre': 6,
         'Wuthering Heights': 6,
         'Heidi': 6,
         'The Hound of the Baskervilles': 6,
         'Treasure Island': 6,
         'Blackout': 6,
         'King Lear': 6,
         'Beauty and the Beast': 5,
         'Emma': 5,
         'Great Expectations': 5,
         'Eden': 5,
         'Peter Pan': 5,
         'Cleopatra': 5,
         'Home': 5,
         'Sense and Sensibility': 4,
         'Othello': 4,
         'Pinocchio': 4,
         'Caught': 4,
         '20,000 Leagues Under the Sea': 4,
         'Carrie': 4,
         'Anna Karenina': 4,
         'Hercules': 4,
         'Fallen': 4,
         'The Black Hole': 4,
         'Sleeping Beauty': 4,
         'Gloria': 4,
         'Life': 4,
         'The Mummy': 4,
         "A Midsummer Night's Dream": 4,
         'The Raven': 4,
         "Gulliver's Travels": 4,
         'Robin Hood': 4,
         'Carmen': 4,
         'Blind Date': 4,
         'Inferno': 4,
         'Asylum': 4,
         'Detour': 4,
         "No Man's Land": 4,
         'The Visit': 4,
         'Maniac': 4,
         "King Solomon's Mines": 4,
         'Sahara': 4,
         'Crush': 4,
         'The Four Feathers': 4,
         'Trapped': 4,
         'Madame Bovary': 4,
         'Journey to the Center of the Earth': 4,
         'The Prince and the Pauper': 4,
         'Darling': 4,
         'The Great Gatsby': 4,
         'Dr. Jekyll and Mr. Hyde': 4,
         'The Kiss': 4,
         'Jack and the Beanstalk': 4,
         'Mercy': 4,
         'Boy Meets Girl': 4,
         'Oliver Twist': 4,
         'The Hunters': 4,
         'The Phantom of the Opera': 4,
         'The Stranger': 4,
         'Death of a Salesman': 4,
         'Home of the Brave': 4,
         'Borderline': 4,
         'Love': 4,
         'Nana': 4,
         'Cargo': 4,
         'Angel': 4,
         'Snow White': 4,
         'Sherlock Holmes': 4,
         'Gold': 4,
         'Deadline': 4,
         'Five': 4,
         'The Journey': 4,
         'Blind': 4,
         'Creature': 4,
         'Aftermath': 4,
         'Breaking Point': 4,
         'Aschenputtel': 4,
         'Heat': 3,
         'Persuasion': 3,
         'Richard III': 3,
         'Fair Game': 3,
         'Bad Boys': 3,
         'Party Girl': 3,
         'The Scarlet Letter': 3,
         'Little Women': 3,
         'The Jungle Book': 3,
         'Bad Company': 3,
         'The Secret Garden': 3,
         'Loaded': 3,
         'August': 3,
         'Das Versprechen': 3,
         'Solo': 3,
         'The Phantom': 3,
         'Jack': 3,
         'The Hunchback of Notre Dame': 3,
         'The 39 Steps': 3,
         'A Streetcar Named Desire': 3,
         'Faust': 3,
         'Dracula': 3,
         'The Last of the Mohicans': 3,
         'Michael': 3,
         'Underworld': 3,
         'Wonderland': 3,
         'Titanic': 3,
         'Twisted': 3,
         'Hush': 3,
         'The Man in the Iron Mask': 3,
         'The Borrowers': 3,
         'Halloween': 3,
         'Freaky Friday': 3,
         'Babes in Toyland': 3,
         'Phoenix': 3,
         'The Lady Vanishes': 3,
         'The Ring': 3,
         'King Kong': 3,
         'Jack Frost': 3,
         'Running Scared': 3,
         'Christine': 3,
         'The Gambler': 3,
         'The Pit and the Pendulum': 3,
         'Romance': 3,
         'The Taming of the Shrew': 3,
         'Joan of Arc': 3,
         'A Star Is Born': 3,
         'The Perils of Pauline': 3,
         'Committed': 3,
         'Possession': 3,
         'The Crew': 3,
         'Runaway': 3,
         'Chocolat': 3,
         'The Gift': 3,
         'Annie': 3,
         'The Glass Menagerie': 3,
         'Avalon': 3,
         'The Lost World': 3,
         'Suspect': 3,
         'Wolves': 3,
         'Alice': 3,
         'Rembrandt': 3,
         'D.O.A.': 3,
         'Shakedown': 3,
         'Loverboy': 3,
         'Next of Kin': 3,
         'Dressed to Kill': 3,
         'Iris': 3,
         'Crossroads': 3,
         'The Lone Ranger': 3,
         "Mother's Day": 3,
         'Barabbas': 3,
         'Body and Soul': 3,
         'Breakout': 3,
         'Enigma': 3,
         'The Importance of Being Earnest': 3,
         'Incubus': 3,
         'Lola': 3,
         'Neighbors': 3,
         'Pennies from Heaven': 3,
         'Thief': 3,
         'The Challenge': 3,
         'War and Peace': 3,
         'Max': 3,
         'Chaos': 3,
         'Victim': 3,
         'Paradise': 3,
         'Stella': 3,
         'The Trip': 3,
         'Hotel': 3,
         'Scrooge': 3,
         'Impulse': 3,
         'A Tale of Two Cities': 3,
         'Project X': 3,
         'Summer School': 3,
         'Run': 3,
         "Teacher's Pet": 3,
         'The Diary of Anne Frank': 3,
         'Black Widow': 3,
         'The Reckoning': 3,
         'Quartet': 3,
         'The Chase': 3,
         'The Girl Next Door': 3,
         'The Wind in the Willows': 3,
         'The Cat and the Canary': 3,
         'Midnight': 3,
         'The Miracle Worker': 3,
         'Switch': 3,
         'Possessed': 3,
         'State Fair': 3,
         'Into the Woods': 3,
         'Out of the Blue': 3,
         'Robinson Crusoe': 3,
         'Spin': 3,
         'Fade to Black': 3,
         'The Black Cat': 3,
         'The Merry Widow': 3,
         'Camille': 3,
         'Dead End': 3,
         'The Prisoner of Zenda': 3,
         'The Letter': 3,
         'The Incident': 3,
         'Sisters': 3,
         'Anne of Green Gables': 3,
         'Captain America': 3,
         'Fortress': 3,
         'Miranda': 3,
         'Stranded': 3,
         'Samson and Delilah': 3,
         'Julia': 3,
         'Blue': 3,
         'The Uninvited': 3,
         'Do Not Disturb': 3,
         'Attila': 3,
         'Madhouse': 3,
         'Nine Lives': 3,
         'She': 3,
         'Deliver Us from Evil': 3,
         'Crawlspace': 3,
         'Julius Caesar': 3,
         'Dreamland': 3,
         'Slow Burn': 3,
         'The Legend of Sleepy Hollow': 3,
         'Sweeney Todd: The Demon Barber of Fleet Street': 3,
         '時をかける少女': 3,
         'Born Reckless': 3,
         'Dead Awake': 3,
         'Iron Man': 3,
         'Shelter': 3,
         'Tom Sawyer': 3,
         'The Take': 3,
         'Fanny': 3,
         'Hunger': 3,
         'Sugar': 3,
         'Outrage': 3,
         'Public Enemies': 3,
         'Obsessed': 3,
         'Deal': 3,
         'Adam': 3,
         'Grace': 3,
         'The Call of the Wild': 3,
         'Frozen': 3,
         'Endgame': 3,
         'Thirst': 3,
         'Lucky': 3,
         'Tumbledown': 3,
         'The Green Hornet': 3,
         'The Tempest': 3,
         'Boy': 3,
         'Captive': 3,
         'Phantom': 3,
         'Forbidden': 3,
         'Deadfall': 3,
         'Nightmare': 3,
         'Exit': 3,
         'Rage': 3,
         'Stage Struck': 3,
         'Intruders': 3,
         'Aurora': 3,
         'Sacrifice': 3,
         'Arena': 3,
         'The Keeper': 3,
         'Dark Horse': 3,
         'The Circle': 3,
         'The Confession': 3,
         'The Neighbor': 3,
         'Bigfoot': 3,
         'Evidence': 3,
         'Boulevard': 3,
         'Bad Karma': 3,
         'Wonder Woman': 3,
         'Beyond': 3,
         '8': 3,
         'Tracks': 3,
         'Anita': 3,
         'Whiplash': 3,
         'The Wild Party': 3,
         'Chain of Command': 3,
         'Blackbird': 3,
         'By the Sea': 3,
         'Kiki': 3,
         'Eat': 3,
         'The Squeeze': 3,
         'Inside Out': 3,
         'Jigsaw': 3,
         'Legacy': 3,
         'The Hollow': 3,
         'Survivor': 3,
         'The Void': 3,
         'Animals': 3,
         'The Comedian': 3,
         'Under the Gun': 3,
         'Salomé': 3,
         'The Desert Song': 3,
         'Mr. Right': 3,
         'The Spirit of Christmas': 3,
         'Sabrina': 2,
         'It Takes Two': 2,
         'Cry, the Beloved Country': 2,
         'Restoration': 2,
         'Lamerica': 2,
         'Home for the Holidays': 2,
         'Bed of Roses': 2,
         'Screamers': 2,
         'Black Sheep': 2,
         'Broken Arrow': 2,
         'Unforgettable': 2,
         'Pie in the Sky': 2,
         'Man of the Year': 2,
         'Target': 2,
         'Mad Love': 2,
         'Reckless': 2,
         'Safe': 2,
         'The Show': 2,
         'Wild Bill': 2,
         'The Browning Version': 2,
         'The Cure': 2,
         'The Hunted': 2,
         'Junior': 2,
         'Kiss of Death': 2,
         'A Little Princess': 2,
         "L'Enfer": 2,
         'Love Affair': 2,
         'Man of the House': 2,
         'Miracle on 34th Street': 2,
         "Nobody's Fool": 2,
         'Priest': 2,
         'The Quick and the Dead': 2,
         'Village of the Damned': 2,
         'The Underneath': 2,
         'The Walking Dead': 2,
         'The War': 2,
         'I Love Trouble': 2,
         'The Mask': 2,
         'Wolf': 2,
         'Mirage': 2,
         'Open Season': 2,
         'The Age of Innocence': 2,
         'Black Beauty': 2,
         'Blown Away': 2,
         'For Love or Money': 2,
         'The Firm': 2,
         'Fresh': 2,
         'The Fugitive': 2,
         'The Getaway': 2,
         'Lassie': 2,
         'Much Ado About Nothing': 2,
         'Mr. Jones': 2,
         'Naked': 2,
         'No Escape': 2,
         'The Program': 2,
         'Ghost': 2,
         'Batman': 2,
         'Fear': 2,
         'The Substitute': 2,
         'True Crime': 2,
         'Flipper': 2,
         'Twister': 2,
         'The Fan': 2,
         'The Nutty Professor': 2,
         'Daylight': 2,
         'Stonewall': 2,
         'Ransom': 2,
         'Foxfire': 2,
         'Chain Reaction': 2,
         'Matilda': 2,
         '楢山節考': 2,
         'Tsuma': 2,
         'Bound': 2,
         'Nothing to Lose': 2,
         'Girls Town': 2,
         'The Island of Dr. Moreau': 2,
         'Bulletproof': 2,
         'Rear Window': 2,
         'Gaslight': 2,
         'The Maltese Falcon': 2,
         'The Wizard of Oz': 2,
         'The Women': 2,
         'Notorious': 2,
         'Spellbound': 2,
         'Father of the Bride': 2,
         'Gigi': 2,
         'The Mark of Zorro': 2,
         'Lost Horizon': 2,
         'To Be or Not to Be': 2,
         'My Man Godfrey': 2,
         'Little Lord Fauntleroy': 2,
         'Night of the Living Dead': 2,
         'Something to Sing About': 2,
         'A Farewell to Arms': 2,
         'Nothing Personal': 2,
         'Bliss': 2,
         'Last Man Standing': 2,
         'Escape to Witch Mountain': 2,
         'The Love Bug': 2,
         'The Parent Trap': 2,
         'Pollyanna': 2,
         'The Shaggy Dog': 2,
         'Angels in the Outfield': 2,
         "Pete's Dragon": 2,
         'Freeway': 2,
         'Swingers': 2,
         'The Old Man and the Sea': 2,
         'Dirty Dancing': 2,
         'The Fog': 2,
         'Raw Deal': 2,
         'Enchanted April': 2,
         '12 Angry Men': 2,
         'Psycho': 2,
         'Trust': 2,
         'The Day the Earth Stood Still': 2,
         'M': 2,
         'The Manchurian Candidate': 2,
         'Cyrano de Bergerac': 2,
         'High Noon': 2,
         'The Big Sleep': 2,
         'Ben-Hur': 2,
         'Breathing Room': 2,
         'The Amityville Horror': 2,
         "April Fool's Day": 2,
         'The Blob': 2,
         'Cape Fear': 2,
         'Cat People': 2,
         'A Nightmare on Elm Street': 2,
         'The Omen': 2,
         'Hearts and Minds': 2,
         'Inside': 2,
         'Angel Baby': 2,
         'Private Parts': 2,
         'The Saint': 2,
         'The Van': 2,
         'Crash': 2,
         'Broken English': 2,
         'The War at Home': 2,
         'Buddy': 2,
         'Late Bloomers': 2,
         'Conan the Barbarian': 2,
         'Steel': 2,
         'The Edge': 2,
         'Fire Down Below': 2,
         'The Matchmaker': 2,
         'The Assignment': 2,
         'Indian Summer': 2,
         'The Rainmaker': 2,
         'Anastasia': 2,
         'Senseless': 2,
         'Dark City': 2,
         'Ride': 2,
         'Men with Guns': 2,
         'Twilight': 2,
         'Everest': 2,
         'The Proposition': 2,
         'Prince Valiant': 2,
         'Sour Grapes': 2,
         'Little Men': 2,
         'Godzilla': 2,
         'Insomnia': 2,
         'Doctor Dolittle': 2,
         'All Quiet on the Western Front': 2,
         'Cimarron': 2,
         'Grand Hotel': 2,
         'Mutiny on the Bounty': 2,
         "All the King's Men": 2,
         'Labyrinth': 2,
         'Friday the 13th': 2,
         'Halloween II': 2,
         'Prom Night': 2,
         "Child's Play": 2,
         'Poltergeist': 2,
         'Metropolis': 2,
         'The Poseidon Adventure': 2,
         'Lolita': 2,
         'The Trip to Bountiful': 2,
         'Kidnapped': 2,
         'Graveyard Shift': 2,
         'The Dead Zone': 2,
         'Children of the Corn': 2,
         'Adventures in Babysitting': 2,
         "Charlotte's Web": 2,
         'Legend': 2,
         'House': 2,
         'The Avengers': 2,
         "Rosemary's Baby": 2,
         'Déjà Vu': 2,
         'The Wrong Man': 2,
         'The Man Who Knew Too Much': 2,
         'Stage Fright': 2,
         'Mr. & Mrs. Smith': 2,
         'Sabotage': 2,
         'Downhill': 2,
         'Easy Virtue': 2,
         'My Blue Heaven': 2,
         'Hero': 2,
         "We're No Angels": 2,
         'The Thing': 2,
         'The Producers': 2,
         'The Elephant Man': 2,
         'Happiness': 2,
         'Soldier': 2,
         'Vampires': 2,
         'The Stepford Wives': 2,
         'The Karate Kid': 2,
         'The General': 2,
         'Mighty Joe Young': 2,
         'Virus': 2,
         'The Fly': 2,
         'Trick or Treat': 2,
         'House on Haunted Hill': 2,
         'Meteor': 2,
         'Planet of the Apes': 2,
         'Harvest': 2,
         'The Haunting': 2,
         'The King and I': 2,
         'Bandits': 2,
         'Lost & Found': 2,
         'Heaven': 2,
         'The Winslow Boy': 2,
         'Mildred Pierce': 2,
         'The Love Letter': 2,
         'Superman': 2,
         'Son of Dracula': 2,
         'Invasion of the Body Snatchers': 2,
         'A Place at the Table': 2,
         'Tarzan': 2,
         'An Ideal Husband': 2,
         'The Boys': 2,
         'Ghostbusters': 2,
         'Trick': 2,
         'Spartacus': 2,
         'The Morning After': 2,
         'The Thomas Crown Affair': 2,
         'Cobra': 2,
         'Heaven Can Wait': 2,
         'Funny Farm': 2,
         'Universal Soldier': 2,
         'The Bat': 2,
         'Nightmares': 2,
         'Splendor': 2,
         'Fright Night': 2,
         'Rain': 2,
         'Superstar': 2,
         'Total Recall': 2,
         'Hairspray': 2,
         "The Razor's Edge": 2,
         'The Blue Lagoon': 2,
         'Fever Pitch': 2,
         'The Bad Seed': 2,
         'The Best Man': 2,
         'The Guardian': 2,
         'RoboCop': 2,
         'The Bachelor': 2,
         'Last Night': 2,
         'Piranha': 2,
         'Poison Ivy': 2,
         'The Verdict': 2,
         'Mansfield Park': 2,
         'Harvey': 2,
         'The River': 2,
         'Flawless': 2,
         'Miss Julie': 2,
         'The End of the Affair': 2,
         'Go West': 2,
         'The Hurricane': 2,
         'Montana': 2,
         'Supernova': 2,
         'La maschera del demonio': 2,
         'Poison': 2,
         'The Goodbye Girl': 2,
         'Malcolm X': 2,
         'Of Mice and Men': 2,
         'Knockout': 2,
         'Bluebeard': 2,
         'The Kid': 2,
         'Born Yesterday': 2,
         'A Raisin in the Sun': 2,
         'Betrayed': 2,
         'On the Beach': 2,
         'A Night to Remember': 2,
         'Impact': 2,
         'The Champ': 2,
         'Double Indemnity': 2,
         'Teenage Mutant Ninja Turtles': 2,
         'Red Dawn': 2,
         'Lord of the Flies': 2,
         'Inherit the Wind': 2,
         'El Dorado': 2,
         'True Grit': 2,
         'Солярис': 2,
         'No Way Out': 2,
         'Arthur': 2,
         'The Postman Always Rings Twice': 2,
         'Guys and Dolls': 2,
         'Gossip': 2,
         'Limelight': 2,
         'Where the Heart Is': 2,
         'Timecode': 2,
         'Breathless': 2,
         'Held Up': 2,
         'Screwed': 2,
         'Gypsy': 2,
         'Carnival of Souls': 2,
         'Romeo and Juliet': 2,
         'Benji': 2,
         'Bird on a Wire': 2,
         'Sunshine': 2,
         'American Virgin': 2,
         'Assault on Precinct 13': 2,
         'Shaft': 2,
         'The Patriot': 2,
         'Footloose': 2,
         'The In Crowd': 2,
         'The Spiral Staircase': 2,
         'Sunset Strip': 2,
         'Our Town': 2,
         'Backstage': 2,
         'Bait': 2,
         'Under Suspicion': 2,
         'Beautiful': 2,
         'Get Carter': 2,
         'The Ladies Man': 2,
         'The Time Machine': 2,
         'Bedazzled': 2,
         "Brewster's Millions": 2,
         'The Alamo': 2,
         'Double Take': 2,
         'Amy': 2,
         'The Dead': 2,
         'Flowers in the Attic': 2,
         'Hot Pursuit': 2,
         'Housekeeping': 2,
         'Mannequin': 2,
         'Head Over Heels': 2,
         'Left Behind': 2,
         'Fever': 2,
         'Sweet November': 2,
         'Alfie': 2,
         'The End': 2,
         'Unmade Beds': 2,
         'The Longest Yard': 2,
         'Heartbreakers': 2,
         'Pokémon 3: The Movie': 2,
         'Beautiful Creatures': 2,
         'Kingdom Come': 2,
         'Scarface': 2,
         'Rat': 2,
         'Candy': 2,
         'Roma': 2,
         'Frankie and Johnny': 2,
         'Ice Castles': 2,
         'The Magnificent Seven': 2,
         'Point Break': 2,
         'Youngblood': 2,
         'The Fast and the Furious': 2,
         'House of Usher': 2,
         'September': 2,
         'Something Wild': 2,
         'Popcorn': 2,
         'Obsession': 2,
         'Bully': 2,
         'More': 2,
         'The Accused': 2,
         'Camille Claudel 1915': 2,
         'Cocktail': 2,
         'Dead Heat': 2,
         'Heartbreak Hotel': 2,
         'Red Heat': 2,
         'Shoot to Kill': 2,
         'Always': 2,
         'The Dream Team': 2,
         'Leviathan': 2,
         'Little Monsters': 2,
         'The Package': 2,
         'The Punisher': 2,
         'Road House': 2,
         'The Stepfather': 2,
         'Warlock': 2,
         'The Awakening': 2,
         'Innocence': 2,
         'The Hunter': 2,
         'The Wicker Man': 2,
         'The Glass House': 2,
         'Big Trouble': 2,
         'Sidewalks of New York': 2,
         'A Hole in the Head': 2,
         'Carny': 2,
         'Focus': 2,
         "The Man Who Wasn't There": 2,
         'The One': 2,
         'Heist': 2,
         'When a Stranger Calls': 2,
         'Out Cold': 2,
         'The Falls': 2,
         'Fame': 2,
         'Fatso': 2,
         'Flash Gordon': 2,
         'The Enforcer': 2,
         'The Gauntlet': 2,
         "Ocean's Eleven": 2,
         'Behind Enemy Lines': 2,
         'And Then There Were None': 2,
         'The Defiant Ones': 2,
         'Dragonslayer': 2,
         'The Formula': 2,
         'Brainstorm': 2,
         'The Count of Monte Cristo': 2,
         'Rollerball': 2,
         'The Heartbreak Kid': 2,
         'Sleuth': 2,
         'Dragonfly': 2,
         'Under the Skin': 2,
         'Hidden Agenda': 2,
         'The Island': 2,
         'The Jazz Singer': 2,
         'The Paleface': 2,
         'Split Second': 2,
         'Simon': 2,
         'Clockstoppers': 2,
         'The Rookie': 2,
         '3:10 to Yuma': 2,
         'Joshua': 2,
         'The Aviator': 2,
         'Delirious': 2,
         'Joe': 2,

In [ ]:
df = df[df.vote_count.notna()]

In [ ]:
useful = []
others = []
for i, (film_name, amount) in enumerate(l.items()):
    if amount > 1:
        useful.append(film_name)
    else:
        others.append(list(l.keys()).index(film_name))

In [ ]:
res = []
for i, film_name in enumerate(useful):
    try:
        d = df[df.original_title == film_name]
        d = d[d.vote_count == d.vote_count.max()]
        res.append(d.index[0])
    except Exception as e:
        print(film_name, e)
        print()

[{'iso_639_1': 'en', 'name': 'English'}] index 0 is out of bounds for axis 0 with size 0

In [ ]:
res += others

In [ ]:
result = sorted(res)
result = pd.DataFrame(result)

In [ ]:
result.shape

(43372, 1)

In [ ]:
result = result[0].unique()

In [ ]:
result.shape

(41887,)

In [ ]:
res1 = np.delete(result, [19729, 19730, 29502, 29503, 35586, 35587])

In [ ]:
res1.shape

(41881,)

In [ ]:
res1

array([    0,     1,     2, ..., 45245, 45406, 45420], dtype=int64)

In [ ]:
res1[res1 == 19729]

array([19729], dtype=int64)

In [ ]:
dataframe = df.copy()
for data in dataframe.index:
    if data not in res1:
        dataframe.drop(index=data, inplace=True)

In [ ]:
dataframe.original_title.nunique()

39973

In [ ]:
# датафрейм с уникальными названиями фильмов
for i in dataframe.head(1).iterrows():
    print(i)

(0, adult                                                                False
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
original_title                                                   Toy Story
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
Name: 0, dtype: object)

In [ ]:
useless_features = ['belongs_to_collection', 'genres', 'homepage', 'id', 'imdb_id', 'overview', 'poster_path', 'title', 'tagline', 'release_date', 'original_language']

In [ ]:
data = dataframe.drop(useless_features, axis=1)
data.head(2)

,adult,budget,original_title,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,video,vote_average,vote_count
0,False,30000000,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,False,7.7,5415.0
1,False,65000000,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,False,6.9,2413.0

In [ ]:
data.video = data.video.astype(int)

In [ ]:
Counter(data.adult)

Counter({'False': 41866, 'True': 9})

In [ ]:
f = lambda x: 1 if x=='True' else 0

In [ ]:
data.adult = data.adult.apply(f)

In [ ]:
Counter(data.adult)

Counter({0: 41866, 1: 9})

In [ ]:
f = lambda x: 1 if x == 'Released' else 0

In [ ]:
data.status = data.status.apply(f)

In [ ]:
f = lambda x: x.count('{')

In [ ]:
data.spoken_languages = data.spoken_languages.apply(f)

In [ ]:
data.production_companies = data.production_companies.apply(f)
data.production_countries = data.production_countries.apply(f)

In [ ]:
data.head(2)

,adult,budget,original_title,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,video,vote_average,vote_count
0,0,30000000,Toy Story,21.946943,1,1,373554033.0,81.0,1,1,0,7.7,5415.0
1,0,65000000,Jumanji,17.015539,3,1,262797249.0,104.0,2,1,0,6.9,2413.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41875 entries, 0 to 45420
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 41875 non-null  int64
 1   budget                41875 non-null  object
 2   original_title        41875 non-null  object
 3   popularity            41875 non-null  object
 4   production_companies  41875 non-null  int64
 5   production_countries  41875 non-null  int64
 6   revenue               41875 non-null  float64
 7   runtime               41659 non-null  float64
 8   spoken_languages      41875 non-null  int64
 9   status                41875 non-null  int64
 10  video                 41875 non-null  int32
 11  vote_average          41875 non-null  float64
 12  vote_count            41875 non-null  float64
dtypes: float64(4), int32(1), int64(5), object(3)
memory usage: 4.3+ MB

In [ ]:
data.budget = data.budget.astype(float)
data.popularity = data.popularity.astype(float);

In [ ]:
data.head(2)

,adult,budget,original_title,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,video,vote_average,vote_count
0,0,30000000.0,Toy Story,21.946943,1,1,373554033.0,81.0,1,1,0,7.7,5415.0
1,0,65000000.0,Jumanji,17.015539,3,1,262797249.0,104.0,2,1,0,6.9,2413.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41875 entries, 0 to 45420
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 41875 non-null  int64
 1   budget                41875 non-null  float64
 2   original_title        41875 non-null  object
 3   popularity            41875 non-null  float64
 4   production_companies  41875 non-null  int64
 5   production_countries  41875 non-null  int64
 6   revenue               41875 non-null  float64
 7   runtime               41659 non-null  float64
 8   spoken_languages      41875 non-null  int64
 9   status                41875 non-null  int64
 10  video                 41875 non-null  int32
 11  vote_average          41875 non-null  float64
 12  vote_count            41875 non-null  float64
dtypes: float64(6), int32(1), int64(5), object(1)
memory usage: 4.3+ MB

In [ ]:
data.fillna(0, inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41875 entries, 0 to 45420
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 41875 non-null  int64
 1   budget                41875 non-null  float64
 2   original_title        41875 non-null  object
 3   popularity            41875 non-null  float64
 4   production_companies  41875 non-null  int64
 5   production_countries  41875 non-null  int64
 6   revenue               41875 non-null  float64
 7   runtime               41875 non-null  float64
 8   spoken_languages      41875 non-null  int64
 9   status                41875 non-null  int64
 10  video                 41875 non-null  int32
 11  vote_average          41875 non-null  float64
 12  vote_count            41875 non-null  float64
dtypes: float64(6), int32(1), int64(5), object(1)
memory usage: 4.3+ MB

In [ ]:
y = data.original_title
X = data.drop('original_title', axis=1)

### Построение модели

In [ ]:
df1 = pd.concat([X, y], axis=1)

In [ ]:
model = RecommendSystem()

In [ ]:
model.fit(X, y, metric='cosine')

In [ ]:
test = X.iloc[0]

In [ ]:
test = pd.DataFrame(test).T
test

,adult,budget,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,video,vote_average,vote_count
0,0.0,30000000.0,21.946943,1.0,1.0,373554033.0,81.0,1.0,1.0,0.0,7.7,5415.0

In [ ]:
predict = model.predict(test, return_features=False)
predict

                                      original_title     distances
0                                          Toy Story  0.000000e+00
1                                    Midnight Cowboy  2.756261e-09
2                                             Scream  1.737928e-07
3                                    ドラゴンボールZ 復活の「F」  2.010302e-07
4                                               卧虎藏龙  2.377983e-07
...                                              ...           ...
39968                           O erotas tou Odyssea  1.000000e+00
39969  Benjamin Blümchen - Seine schönsten Abenteuer  1.000000e+00
39970                       First Ascent: The Series  1.000000e+00
39971                               Tank on the Moon  1.000000e+00
39972        The Adventures of Cinderella's Daughter  1.000000e+00

[39973 rows x 2 columns]

In [ ]:
model.report(test).head(3)

haversine: Haversine distance only valid in 2 dimensions

,adult,budget,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,video,...,vote_count,distance_minkowski,distance_cityblock,distance_cosine,distance_euclidean,distance_l1,distance_l2,distance_manhattan,distance_nan_euclidean,distance_levenshtein
original_title,,,,,,,,,,,,,,,,,,,,,
ＳＭガールズ セイバーマリオネットＲ,0.0,0.0,0.001258,2.0,1.0,0.0,30.0,1.0,1.0,0.0,...,0.0,2.423268e+09,2.621418e+09,1.0,2.423268e+09,2.621418e+09,2.423268e+09,2.621418e+09,2.423268e+09,10.0
３－４Ｘ１０月,0.0,0.0,1.961194,2.0,1.0,0.0,96.0,1.0,1.0,0.0,...,38.0,1.708254e+09,1.909672e+09,1.0,1.708254e+09,1.909672e+09,1.708254e+09,1.909672e+09,1.708254e+09,10.0
２０世紀少年< 第1章> 終わりの始まり,0.0,20000000.0,1.889519,2.0,2.0,31244858.0,142.0,1.0,1.0,0.0,...,21.0,1.146273e+09,1.292697e+09,1.0,1.146273e+09,1.292697e+09,1.146273e+09,1.292697e+09,1.146273e+09,10.0